[submodule "awesome-wm-widgets"]
	path = awesome-wm-widgets
	url = git@github.com:streetturtle/awesome-wm-widgets.git
[submodule "awesome-arc-theme"]
	path = awesome-arc-theme
	url = git@github.com:psliwka/awesome-arc-theme.git
